/* z*{
	padding: 0;
	margin: 0;
} */
html{
	scroll-behavior: smooth;
}
html, body{
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

.primary-background-color{
	background-color: #00687f !important;
}
#navbar-container{

}
#navbar-container .navbar{
	padding: 1rem;
}
section#main-hero{
	background: #ccc url('../images/woman2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 15px;
	padding-right: 15px;
	background-position: center;
}

.form-background{
	background: rgba(0, 0, 0, 0.5);
}
#social-media-button-container{
	position: relative;
}
.form-control, .btn{
	border-radius: .1rem;
}
.container-divider{
	position: absolute;
	left: 0;
	top: -28px;
}
.container-divider span{
	background: #9fa7ad;
	font-size: 1.25rem;
	display: inline-block;
	padding: 10px;
	text-align: center;
	border-radius: 50%;
	color: #67696b;
	font-weight: bolder;
}

.separator{
	margin: 20px 0;
}
.separator, 
.separator:before,
.separator:after{
	color: #fff;
}
.separator:before,
.separator:after{
	content: "";
	display: inline-block;
	border-top: solid 2px #fff;
	vertical-align: middle;
	width: 40%;
}
.list-unstyled ul{
	list-style: none;
}
.text-box{
	border: 3px solid #000;
	padding: 40px;
}
#intro li  h4{
	font-weight: bold;
}
#intro li{
	color: #fff;
	text-shadow: 2px 4px 6px #383d41;
}
.meet-lila-carousel-item{
	height: 250px;
}
.media-img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #e6e6e6;
	border: solid thin #ccc;
	padding: 6px;
}
#personalized{
	background: url('../images/unique2.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
#personalized-text-container,
#continuous-improvement-text-container{
	background-color: #343a40c7!important;
}

#continuous-improvement{
	background: url('../images/grow.png');
	background-position: center;
	background-size: cover;
}
.team-images{
	padding: .5rem;
	border-radius: 50%;
	width: 170px;
	max-width: 170px;
}

#teacher{
	background: url('../images/teacher-standing.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	min-height: 200px;
}
#meet-lila{
	background: url('../images/bb.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
footer a{
	color: rgba(255,255,255,.5);
	text-decoration: none;
}
footer a:hover{
	color: rgb(255,255,255);
	text-decoration: none;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	#personalized{
		height: auto !important;
	}
	#continuous-improvement{
		height: auto;
	}
	#personalized-text-container{
		border-right: none;
	}
	#continuous-improvement-text-container{
		border-left: none;
	}
	#meet-lila{
		height: auto !important;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.meet-lila-carousel-item h4{
		font-size: 1.1rem !important;
	}
	section#main-hero{
		height: auto;
		margin-top: 72px;
	}
	section#main-hero .row{
		padding: 20px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#personalized{
		height: 700px !important;
	}
	#continuous-improvement{
		height: 700px;
	}
	#personalized-text-container{
		border-right: none;
	}
	#continuous-improvement-text-container{
		border-left: none;
	}
	#meet-lila{
		height: auto !important;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.meet-lila-carousel-item h4{
		font-size: 1.1rem !important;
	}
	section#main-hero{
		height: auto;
		margin-top: 72px;
	}
	section#main-hero .row{
		padding: 20px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#personalized{ 
		height: 700px !important;
	}
	#continuous-improvement{
		height: 700px;
	}
	#personalized-text-container{
		border-right: 6px solid teal;
	}
	#continuous-improvement-text-container{
		border-left: 6px solid teal;
	}
	#meet-lila{
		height: 500px !important;
		padding-top: 0;
		padding-bottom: 0;
	}
	.meet-lila-carousel-item h4{
		font-size: 1.5rem !important;
	}
	section#main-hero{
		height: calc(100vh - 112px);
		margin-top: 112px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#personalized{ 
		height: 700px !important;
	}
	#continuous-improvement{
		height: 100vh;
	}
	#personalized-text-container{
		border-right: 6px solid teal;
	}
	#continuous-improvement-text-container{
		border-left: 6px solid teal;
	}
	#meet-lila{
		height: 500px !important;
		padding-top: 0;
		padding-bottom: 0;
	}
	.meet-lila-carousel-item h4{
		font-size: 1.5rem !important;
	}
	section#main-hero{
		height: calc(100vh - 112px);
		margin-top: 112px;
	}
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	#meet-lila{
		height: 100vh !important;
	}
	.meet-lila-carousel-item h4{
		font-size: 1.1rem !important;
	}
	section#main-hero{
		height: 100vh;
		margin-top: 72px;
	}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	section#main-hero{
		height: auto;
		margin-top: 72px;
	}
	section#main-hero .row{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#meet-lila{
		height: auto !important;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  
}
/*  Ipad landscape  */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
	section#main-hero{
		height: auto;
	}
	section#main-hero .row{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.navbar-nav .main-links{
		font-size: .9rem;
	}
}
